body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.top-banner {
    /* background-image: url(image/bannerCover.jpg); */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.717), rgba(255, 255, 255, 0)), url(image/bannerCover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    background-size: cover;
    width: 100%;
}

.motto {
    text-align: center;
    margin: 0 15%;
    color: white;
    padding: 10%;
}

p {
    line-height: 1.5;
}

.motto p {
    margin-bottom: 50px;
}

.button {
    text-decoration: none;
    color: white;
    padding: 1.5%;
    background-image: linear-gradient(to left, red, tomato);
    font-size: 25px;
    border-radius: 5px;
}

.donation-input {
    text-align: center;
    margin-bottom: 150px;
}

.donation-quote {
    margin: 50px 250px 50px 250px;
    text-align: center;
}

.donation-amount {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 250px 50px 250px;
}

.donation-amount h3 {
    background-color: rgba(255, 0, 238, 0.059);
    padding: 15px;
    border-radius: 5px;
}

#regular-amount {
    border: 2px solid tomato;
    background-color: rgba(255, 99, 71, 0.176);
    color: tomato;
}

.other-amount {
    margin: 50px 250px 10px 250px;
}

.other-amount input {
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

hr {
    margin-bottom: 20px;
}

.plan-quote {
    text-align: center;
    margin: 50px 280px 20px 280px;
}

.donation-plan {
    margin-bottom: 100px;
}

.basic-plan {
    display: flex;
    justify-content: space-evenly;
    margin: 0 100px 150px 100px;
}

.flexible {
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 30px;
    margin: .75%;
}

#food {
    background-color: rgb(126, 180, 234);
}

#shelter {
    background-color: rgb(237, 198, 185);
}

#education {
    background-color: rgb(236, 225, 169);
}

.bonus-section-gallery {
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    height: 450px;
    background-color: rgba(102, 179, 125, 0.559);
    margin: 5% 7.5% 15%;
}

#map-gal-image1 {
    margin-top: -30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

#map-gal-image2 {
    margin-top: 30px;
    margin-left: 25px;
}

#map-gal-image3 {
    margin-top: 30px;
    margin-left: -100px;
}

#map-gal-image4 {
    margin-left:-500px;
    margin-top: 280px; 
}

#map-gal-image5 {
    margin-bottom: 100px;
    margin-left:-50px;
}

#gallary-info {
    width: 300px;
    margin-left: 50px;
    margin-right: 30px;
    font-size: 10px;
}

#gallary-info h2 {
    margin: 0;
}

.subscriber-form {
    background-color: rgb(237, 234, 193);
    text-align: center;
    margin: 50px 300px 80px 300px;
}

.subscriber-form form {
    padding: 8%;
    display: flex;
    justify-content: center;
}

.subscriber-form form input {
    margin: 0;
    border: none;
}

#email {
    background-color: rgb(205, 196, 196);
    font-weight:400;
    padding: 5px;
    border-radius: 3px 0 0 3px;
}

#subs {
    background-color: tomato;
    color: white;
    padding: 5px 20px;
    font-weight:400;
    border-radius: 0 3px 3px 0;
    font-size: 10px;
}

footer {
    background-color: black;
    text-align: center;
    padding: 5px;
    
}

footer h2 {
    color: red;
    font-size: 20px;
    font-family: 'Lobster', 'cursive';
    letter-spacing: 2px;
}

footer p {
    color: white;
    font-size: 10px;
}